/* Easy 404 Page by Filip#0475 */

body {
    background: #252525;
    color: white;
    text-align: center;
    font-family: droid sans,Arial,sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

.header {
    background: #1a1a1a;
    padding: 10px;
}

.body {
    background: #1a1a1a;
    margin-top: 50px;
    padding: 30px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    height: 260px;
    border-radius: 10px;
}

footer {
    background: #1a1a1a;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

button {
    background-color: #008CBA;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
  }

hr {
    width: 300px;
    text-align: center;
}  
